PORT=5000
NODE_ENV=production
MONGO_URI=mongodb+srv://rakeshbolisetti99_db_user:Rakesh@cluster0.wowy6km.mongodb.net/
JWT_SECRET=tyfytytvyububyubuniunjininiun
CLOUDINARY_CLOUD_NAME=dwpo5ycxu
CLOUDINARY_API_KEY=383235976761871
CLOUDINARY_API_SECRET=Iw8yOi2k4CB0-Jajde41PUxiQFk